TIMESHIFT_DATETIME=2026-03-01 12:00:00

# Collect secrets from Keyvault or a fellow developer

# Service: epr-calculator-frontend
EprCalculatorFrontend__AzureAd__ClientSecret=

# Service: epr-common-data-api
EprCommonDataApi__ConnectionStrings__SynapseDatabase=
EprCommonDataApi__Dll=EPR.CommonDataService.Api.dll

# Service: epr-packaging-frontend
EprPackagingFrontend__AzureADB2C__ClientSecret=
EprPackagingFrontend__Dll=FrontendSchemeRegistration.UI.dll

# Service: epr-facade-account-microservice
EprFacadeAccountMicroservice__AzureADB2C__ClientSecret=
EprFacadeAccountMicroservice__MessagingConfig__ApiKey=

# Service: epr-pom-api-submission-status
EprPomApiSubmissionStatus__Database__AccountKey=
