.env
.cache/
node_modules
tools/data-generator/manifests/*.json
.DS_Store
.idea/dataSources.xml
.idea/epr-local-environment.iml
.idea/.gitignore
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
